## Make and index some data in Python

Creating vectors, and a pandas DataFrame and some low-key indexing

In [2]:
import numpy as np
import pandas as pd

In [6]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [9]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [10]:
teddy[1]

2

In [11]:
teddy[1] = 5000

In [12]:
teddy

[1, 5000, 8]

In [13]:
tuesday = (3, 10, 14)

In [14]:
#tuesday[2] = 10
# this will throw an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [22]:
waffle = [2.9, "a burrito", [0, 1, 15], False]

In [19]:
waffle

[2, 'a burrito', [0, 1, 15], False]

In [20]:
waffle[2]

[0, 1, 15]

In [23]:
type(waffle[0])

float

In [26]:
waffle[0] = "It's Tuesday!"

In [27]:
waffle

["It's Tuesday!", 'a burrito', [0, 1, 15], False]

In [28]:
cows = {'name': ["moo", "spots", "happy"], 'location': ["pasture", "prairie", "barn"]}

In [30]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prairie', 'barn']}

In [31]:
cows_df = pd.DataFrame(cows)

In [32]:
cows_df

    name location
0    moo  pasture
1  spots  prairie
2  happy     barn

In [33]:
cows_noname = { ["moo", "spots", "happy"], ["pasture", "prairie", "barn"]}

TypeError: unhashable type: 'list'